http-address :8080
log-level info
alert-mode single

labels {
  order "severity"
  severity "critical" {
    priority 5
    tags "rotating_light"
    icon "https://prometheus.io/assets/favicons/favicon-32x32.png"
  }
  severity "warning" {
    priority 3
    tags "warning"
    icon "https://prometheus.io/assets/favicons/favicon-32x32.png"
  }
}

resolved {
  tags "white_check_mark"
  icon "https://prometheus.io/assets/favicons/favicon-32x32.png"
}

ntfy {
  server https://ntfy.sh
  topic argus-alerts-F39BA353
}
